@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

html::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

body.dark {
  --primary: #111827;
  --text-main: white;
}

body.light {
  --primary: white;
  --text-main: #111827;
}

.ais-SearchBox-input {
  @apply w-full py-3.5 rounded-lg bg-gray-200 focus:bg-gray-100 dark:bg-gray-700 focus:dark:bg-gray-800 text-gray-700 dark:text-gray-50 focus:shadow-md px-4 focus:outline outline-none border-none;
}

.ais-SearchBox-resetIcon{
  @apply hidden;
}

.ais-SearchBox-submit{
  @apply hidden;
}

.ais-Highlight-highlighted{
  @apply dark:text-white bg-transparent
}